// app global css in SCSS form
body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
}
h1,h2,h3,h4,h5,h6,.text-h1,.text-h2,.text-h3,.text-h4,.text-h5,.text-h6,.q-toolbar__title{
  font-family: 'Noto Serif', serif;
  font-weight: 700;
  line-height: 1em;
  margin:0
}
h1,.text-h1{
  font-size:2.6em
}
h2,.text-h2{
  font-size:1.8em
}
h3,.text-h3{
  font-size:1.6em
}
h4,.text-h4{
  font-size:1.4em
}
h5,.text-h5{
  font-size:1.2em
}
h6,.text-h6{
  font-size:1em
}
.q-btn{
  font-weight:700
}
